﻿@model TestMVC.ViewModel.UsersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>
@using (Html.BeginForm("Update", "Users", FormMethod.Post))
{
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Name)
                </div>
            </div>
            <div class="col-lg-4">
                <button type="submit" id="btn_submit" value="Save" name="Save" class="btn btn-success">Save</button>
            </div>
            <div class="col-lg-3">
                @ViewBag.Message
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Is Active</th>

                    </tr>

                    @foreach (var user in Model.UsersView)
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => user.ID)</td>
                            <td><input type="checkbox" name="checkUser" value="@user.ID" checked="@user.IsActive" /><input type="checkbox" hidden="hidden" name="AllUser" value="@user.ID" checked="checked" />@user.Name</td>
                        </tr>

                    }

                </table>
                <br />
                <br />
                <button type="submit" id="btn_submit" value="InActive" name="InActive" class="btn btn-success">In-Active users</button>
                <button type="submit" id="btn_submit" value="Active" name="Active" class="btn btn-success">Active users</button>
                <button type="submit" id="btn_submit" value="Update" name="Update" class="btn btn-success">Update</button>
            </div>
        </div>
    
}

