﻿@model IEnumerable<TestMVC.Models.UserData>
@{
    ViewBag.Title = "UserData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserData</h2>

@using (Html.BeginForm("UpdateUserData", "Users", FormMethod.Post))
{
    <div class="row">
        <table class="table table-bordered table-hover">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>User Name</th>
                <th>City</th>
                <th>Remark</th>
                <th>Update</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => item.ID)</td>
                    <td>@Html.DisplayFor(x => item.Name)</td>
                    <td>@Html.DisplayFor(x => item.Email)</td>
                    <td>@Html.DisplayFor(x => item.UserName)</td>
                    <td>@Html.DisplayFor(x => item.City)</td>
                    <td>@Html.TextBoxFor(x => item.Remark, new { id = "box"+@item.ID+""})</td>
                    <td><button type="submit" id="btn_submit+@item.ID" value="btn+@item.ID" onclick="testFunc(@item.ID);" name="Update+@item.ID" class="btn btn-success">Update</button></td>
                </tr>
            }
        </table>
    </div>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            //$("#btn_submit").click(function () {
            //    event.preventDefault();
            //    var id1 = $('#btn_submit').val();
            //    alert("Selected: " + id1)
            //});
        });

        function testFunc(id) { 
            event.preventDefault();
            var boxName = "box" + id;
            var id1 = $('#box'+id).val();
            alert("Selected: " + id1)
            } 


    </script>
}
