﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@*<iframe src="~/Documents/11114.pdf" style="width:600px; height:500px;" frameborder="0"></iframe>*@

<iframe src="/Documents/11113.pdf" style="width:600px; height:500px;"></iframe>